body{
    background-color: #BEBEBE;
}
h1{
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    padding-top: 5px;
    text-align: center;
    font-size: 120px;
}
#cpen {
    display: flex;
    justify-content: center;
    padding-top: 35px;
}
video{
    padding-left: 10%;
    object-fit: cover;
    position: absolute;
}
html {
    /*overflow-y: hidden;*/
}
/* From Uiverse.io by cssbuttons-io */
a {
    --color: #560bad;
    font-family: inherit;
    display: inline-block;
    width: 8em;
    height: 2.6em;
    line-height: 2.5em;
    margin: 20px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    border: 2px solid var(--color);
    transition: color 0.5s;
    z-index: 1;
    font-size: 17px;
    border-radius: 6px;
    font-weight: 500;
    color: var(--color);
    text-align: center;
    text-decoration: none;
}

a:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: var(--color);
    height: 150px;
    width: 200px;
    border-radius: 50%;
}

a:hover {
    color: #fff;
}

a:before {
    top: 100%;
    left: 100%;
    transition: all 0.7s;
}

a:hover:before {
    top: -30px;
    left: -30px;
}

a:active:before {
    background: #3a0ca3;
    transition: background 0s;
}
#rightbuttons{
  padding-left: 75%;
    width: fit-content;
    display: flex;
    flex-direction: column;
}
#leftbuttons{
    width: fit-content;
    display: flex;
    flex-direction: column;
}
